@media only screen and (max-width: 3440px) {
  body {
    background-size: contain;
  }

  .main {
    transform: scale(1.2);
    left: 200px;
  }

  .parent-container {
    justify-content: center;
  }

  .container {
    height: 40vh;
    margin-top: 28vh;
  }

  #code-carousel-mobile {
    display: none;
  }
  
  .ascii {
    font-size: 1.25rem;
    margin-left: 3%;
    margin-top: 15%;
  }

  .ascii-2-text-logo {
    font-size: 0.7rem;
  }

  .ascii-2-text-info {
    font-size: 0.85rem;
  }

  .neofetch-window-host {
    font-size: 1.9rem;
    margin-left: 1rem;
    margin-top: 2.5rem;
  }
}

@media only screen and (max-width: 2000px) {
  body {
    background-size: contain;
  }

  .main {
    transform: scale(1.2);
  }

  .parent-container {
    justify-content: center;
  }

  .container {
    height: 85.25vh;
    margin-top: 0vh;
  }

  #code-carousel-mobile {
    display: none;
  }

  .ascii-2 {
    font-size: 30%;
    margin-bottom: 100px;
  }

  .ascii-2-text-logo {
    font-size: 0.5rem;
  }

  .ascii-2-text-info {
    font-size: 0.75rem;
  }

  .neofetch-window-host {
    font-size: 1.7rem;
  }
}

/* @media only screen and (min-width: 1400px) and (max-width: 1450px) and (min-height: 720px) and (max-height: 770px) {
    .main {
      margin-top: 2%;
    }
  } */

@media only screen and (max-width: 1024px) {
  body {
    font-size: 32px;
  }

  .code-demo-parent-container {
    display: none;
  }

  .terminal-header {
    display: none;
  }

  .main {
    margin-left: -9.5rem;
    margin-top: 4rem;
  }

  .parent-container {
    display: grid;
    padding-top: 15%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 900px));
    grid-template-rows: repeat(2, 100px);
  }

  h1 {
    font-size: 48px;
  }

  .row {
    transform: scale(0.4);
    right: -20px;
  }

  #code-carousel-mobile {
    display: grid;
    top: 10rem;
    background-color: rgba(40, 44, 52, 0.85);
    backdrop-filter: blur(5px);
  }

  .carousel-item-mobile {
    padding-top: 2rem;
  }

  .carousel-item-mobile img {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 769px) {
  body {
    font-size: 28px;
  }

  .parent-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 720px));
  }

  #code-carousel-mobile {
    top: 6rem;
  }

  h1 {
    font-size: 35px;
  }
}

/* S20 ultra */
@media only screen and (max-width: 541px) and (max-height: 920px) {
  body {
    font-size: 18px;
    background-size: cover;
  }

  .main {
    margin-left: -4rem;
    margin-top: 2rem;
  }
  
  #code-carousel-mobile {
    top: 3rem;
  }
  
  .parent-container {
    display: grid;
    margin-left: 32.2rem;
    padding-top: 30%;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: repeat(2, 100px);
    gap: 0px;
  }

  .container {
    height: 50vh;
    place-self: center;
  }

  h1 {
    font-size: 20px;
  }

  .child-container-1 {
    visibility: hidden;
  }

  .child-container-2 {
    visibility: hidden;
  }
}

/* iPhone XR */
@media only screen and (max-width: 541px) and (max-height: 900px) {
  body {
    font-size: 18px;
    background-size: cover;
  }

  .main {
    margin-left: -4rem;
    margin-top: 2rem;
  }
  
  #code-carousel-mobile {
    top: 3rem;
  }
  
  .parent-container {
    display: grid;
    margin-left: 32.2rem;
    padding-top: 30%;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: repeat(2, 100px);
    gap: 0px;
  }

  .container {
    height: 50vh;
    place-self: center;
  }

  h1 {
    font-size: 20px;
  }

  .child-container-1 {
    visibility: hidden;
  }

  .child-container-2 {
    visibility: hidden;
  }
}

/* iPhone 12 Pro */
@media only screen and (max-width: 541px) and (max-height: 890px) {
  body {
    font-size: 18px;
    background-size: cover;
  }

  .main {
    margin-left: -4rem;
    margin-top: 2rem;
  }
  
  #code-carousel-mobile {
    top: 3rem;
  }
  
  .parent-container {
    display: grid;
    margin-left: 31.5rem;
    padding-top: 30%;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: repeat(2, 100px);
    gap: 0px;
  }

  .container {
    height: 50vh;
    place-self: center;
  }

  h1 {
    font-size: 20px;
  }

  .child-container-1 {
    visibility: hidden;
  }

  .child-container-2 {
    visibility: hidden;
  }
}

/* Galaxy 8 */
@media only screen and (max-width: 541px) and (max-height: 750px) {
  body {
    font-size: 18px;
    background-size: cover;
  }

  .main {
    margin-left: -4rem;
    margin-top: 2rem;
  }
  
  #code-carousel-mobile {
    top: 3rem;
  }
  
  .parent-container {
    display: grid;
    margin-left: 30.6rem;
    padding-top: 30%;
    grid-template-columns: repeat(auto-fit, 330px);
    grid-template-rows: repeat(2, 100px);
    gap: 0px;
  }

  .container {
    height: 50vh;
    place-self: center;
  }

  h1 {
    font-size: 19px;
  }

  .child-container-1 {
    visibility: hidden;
  }

  .child-container-2 {
    visibility: hidden;
  }
}

/* iPhone 12 Pro */
@media only screen and (max-width: 541px) and (max-height: 670px) {
  body {
    font-size: 18px;
    background-size: cover;
  }

  .main {
    margin-left: -4rem;
    margin-top: 2rem;
  }
  
  #code-carousel-mobile {
    top: 3rem;
  }
  
  .parent-container {
    display: grid;
    margin-left: 31rem;
    padding-top: 30%;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: repeat(2, 100px);
    gap: 0px;
  }

  .container {
    height: 50vh;
    place-self: center;
  }

  h1 {
    font-size: 20px;
  }

  .child-container-1 {
    visibility: hidden;
  }

  .child-container-2 {
    visibility: hidden;
  }
}

/* @media only screen and (max-width: 718px) and (max-height: 514px),
    only screen and (max-width: 722px) and (max-height: 542px) {
    body {
      font-size: 18px;
    }
  
    .main {
      margin-left: -7rem;
      margin-top: 3rem;
    }
  
    .parent-container {
      display: grid;
      padding-top: 15%;
      grid-template-columns: repeat(auto-fit, minmax(200px, 490px));
      grid-template-rows: repeat(2, 100px);
    }
  
    h1 {
      font-size: 24px;
    }
  }   */
