@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Mono', sans-serif;
  background-image: url("../img/linux.jpg");
  color: var(--text-color);
  background-size: cover;
}

:root {
  --link-color: #CC241D;
  --primary-name-color: rgb(88, 200, 245);
  --text-color: #e1d6a9; 
}

h1 {
  color: var(--link-color);
}

h2 {
  color: var(--link-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

#datetime {
  color: var(--text-color);
}

.top-bar {
  background: #333;
  color: #fff;
  text-align: center;
  height: 40px;  /* or whatever height you find suitable */
  line-height: 40px;  /* this will help center the text vertically */
  padding: 0 10px;  /* adding some padding on left and right for spacing */
  box-sizing: border-box;  /* to ensure padding doesn't increase the height */
}

.top-bar h4 {
  margin: 0;  /* removing default margin */
  font-size: 16px;  /* or whatever font size you find suitable */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  height: calc(100vh - 40px); /* Considering top bar height */
  gap: 2%; /* Adjust gap as per your requirements */
  grid-template-areas:
    "a a a b b"
    "a a a b b"
    "a a a c c";
}

.window {
  background: #eee;
  border: 2px solid #666;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: rgba(50, 48, 47, 0.9);  
  backdrop-filter: blur(5px);
  outline: 4px solid #e1d6a9;
  overflow: auto;
}

.window1 {
  margin: 2rem 0 2rem 2rem;
  grid-area: a;
}

.window2 {
  margin: 2rem 2rem 0 0;
  grid-area: b;
}

.window3 {
  margin: 0 2rem 2rem 0;
  grid-area: c;
}

.ascii-2-parent {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
}

.ascii-2-text-logo-parent {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.ascii-2-text-info-parent {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}

.ascii-2-text-logo {
  font-size: 1rem;
}

.ascii-2-text-info {
  font-size: 2rem;
}

.gruvbox-colors {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 1rem;
  margin-left: 2.5rem;
}

.color {
  width: 75px;  /* adjust size as necessary */
  height: 75px;
  border-radius: 3px;  /* rounded edges for aesthetics */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  /* slight shadow for depth */
}

.parent-container {
  width: 100%;  /* Ensures it takes the full width of its parent */
  height: 100%; /* Ensures it takes the full height of its parent */
  overflow: auto; /* Allows scrolling if content exceeds window size */
}

.container {
  padding: 1rem;
}

/* Making sure the main content fills the container */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;  /* Aligns items to the start */
  overflow: auto;  /* Enables scrolling if content overflows */
}

.main h1 {
  font-size: 2rem;  /* Adjust font size as required */
  display: flex;
  align-items: center;
}

.main ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0;
}

.main ul li {
  margin-top: 0.5rem;
}

.ls-text, .root-dollar {
  margin-right: 0.5rem;  /* Space between elements */
  color: var(--text-color);  /* You can change this to adjust the color of the text */
}

.cursor {
  animation: blink 1s infinite;  /* Makes the cursor blink */
}

.wb-body {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.wb-max {
  background-image: url("https://img.icons8.com/emoji/48/000000/green-circle-emoji.png");
}

.wb-min {
  background-image: url("https://img.icons8.com/emoji/48/000000/orange-circle-emoji.png");
}

.wb-close {
  background-image: url("https://img.icons8.com/emoji/48/000000/red-circle-emoji.png");
}

.wb-title {
  color: var(--text-color);
  font-family: 'Roboto Mono', sans-serif;
}

pre {
  display: inline-block;
  font-family:'Courier New', Courier, monospace;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--link-color);
  }
}

.hidden {
  display: none;  /* Hide the content initially */
}

.hidden-content {
  font-size: 1.5rem;
}

.terminal-header {
  font-size: 1.5rem;
}

/* Responsive behaviors */
@media (max-width: 2500px) {
  .window {
    font-size: 2rem;
  }

  .ascii-2-text-logo {
    font-size: 0.8rem;
  }
  
  .ascii-2-text-info {
    font-size: 1.5rem;
  }

  .gruvbox-colors {
    margin-left: 2rem;
  }
}

@media (max-width: 2000px) {
  .ascii-2-text-logo {
    font-size: 0.7rem;
  }
  
  .ascii-2-text-info {
    font-size: 1.2rem;
  }

  .gruvbox-colors {
    margin-left: 1.5rem;
  }

  .ascii {
    font-size: 1.5rem;
  }

  .color {
    width: 50px;  /* adjust size as necessary */
    height: 50px;
  }
}

@media (max-width: 1700px) {
  .ascii-2-text-logo {
    font-size: 0.5rem;
  }
  
  .ascii-2-text-info {
    font-size: 1rem;
  }

  .gruvbox-colors {
    margin-left: 1.5rem;
  }

  .ascii {
    font-size: 1.2rem;
  }

  .color {
    width: 50px;  /* adjust size as necessary */
    height: 50px;
  }
}

@media (max-width: 1500px) {
  body {
    background-size: cover;
  }
  
  .main {
    font-size: 1.8rem;
  }

  .ascii-2-text-logo {
    font-size: 0.3rem;
  }
  
  .ascii-2-text-info {
    font-size: 0.9rem;
  }

  .gruvbox-colors {
    margin-left: 1.3rem;
  }

  .ascii {
    font-size: 0.9rem;
  }

  .color {
    width: 40px;
    height: 40px;
  }

  .main h1 {
    font-size: 1.6rem; 
  }
}

@media (max-width: 1050px) {
  body {
    background-size: cover;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    height: calc(100vh - 40px); /* Considering top bar height */
    gap: 2%; /* Adjust gap as per your requirements */
    grid-template-areas:
      "a"
      "a"
      "a";
  }
  
  .window {
    font-size: 1rem;
  }

  .main {
    font-size: 2.5rem;
  }

  .main h1 {
    font-size: 2.5rem; 
  }

  .window1 {
    margin-right: 2rem;
    grid-row: 1 / 3;
  }

  .window2 {
    display: none;
  }

  .window3 {
    display: none;
  }
}

@media (max-width: 900px) {
  .main {
    font-size: 2rem; 
  }
  
  .main h1 {
    font-size: 2rem; 
  }
}

@media (max-width: 600px) {
  .window {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .window {
    font-size: 1.2rem;
  }

  .main {
    font-size: 1.5rem;
  }

  .main h1 {
    font-size: 1rem; 
  }

  .hidden-content {
    font-size: 0.9rem;
  }

  .terminal-header {
    font-size: 0.7rem;
  }
}

@media (max-width: 400px) {
  .window {
    font-size: 1.2rem;
  }

  .main {
    font-size: 1.5rem;
  }

  .main h1 {
    font-size: 0.9rem; 
  }

  .hidden-content {
    font-size: 0.8rem;
  }

  .terminal-header {
    font-size: 0.6rem;
  }
}